In [1]:
import pandas as pd
import datetime as dt
import numpy as np

In [2]:
filename = '../datasets/' + 'load_ercot.csv'

In [3]:
df_in = pd.read_csv(filename)
freq = 'H'
len(df_in)

154872

In [4]:
df_in= df_in[['ds', 'y']]

In [5]:
df_in

                         ds         y
0       2004-01-01 01:00:00  22971.94
1       2004-01-01 02:00:00  22191.52
2       2004-01-01 03:00:00  21383.44
3       2004-01-01 04:00:00  20866.56
4       2004-01-01 05:00:00  20723.15
...                     ...       ...
154867  2021-08-31 20:00:00  47062.43
154868  2021-08-31 21:00:00  45392.87
154869  2021-08-31 22:00:00  44338.38
154870  2021-08-31 23:00:00  44084.79
154871  2021-09-01 00:00:00  45057.54

[154872 rows x 2 columns]

In [6]:
is_na = sum(df_in['y'].isnull())
is_na

0

## Fill missing Dates

In [7]:

data_len = len(df_in)
df = df_in.copy(deep=True)
if df["ds"].dtype == np.int64:
        df.loc[:, "ds"] = df.loc[:, "ds"].astype(str)
df.loc[:, "ds"] = pd.to_datetime(df.loc[:, "ds"])

r = pd.date_range(start=df["ds"].min(), end=df["ds"].max(), freq=freq)
df = df.set_index("ds").reindex(r).rename_axis("ds").reset_index()

num_added = len(df) - data_len
print(num_added)

0

In [8]:
is_na = sum(df['y'].isnull())
is_na

0

## fill missing values

In [9]:
series = df['y']
limit_linear = 20
series = series.interpolate(method="linear", limit=limit_linear, limit_direction="both")

is_na = sum(series.isnull())
is_na

0

In [12]:
df['y'] = series

In [14]:
df.to_csv(filename, index=False, float_format="%.2f")